In [1]:
import mysql.connector
import pandas as pd

In [2]:
def save_csv_to_mysql(month, is_combined=False):
    # MySQL credentials
    mydb = mysql.connector.connect(
        host='127.0.0.1',
        port='3306',
        user='root',
        password='Ramya@123',
        database='tracking_expenses',
        auth_plugin='mysql_native_password'
    )
    
    cursor = mydb.cursor()
    
    # Create table for the month or combined data
    if is_combined:
        table_name = 'all_expenses'
    else:
        table_name = f'expenses_{month}'
    
    cursor.execute(f'''
        CREATE TABLE IF NOT EXISTS {table_name} (
            id INT AUTO_INCREMENT PRIMARY KEY,
            Date DATE,
            Category VARCHAR(50),
            Payment_Mode VARCHAR(50),
            Description VARCHAR(255),
            Amount_Paid DECIMAL(10, 2),
            Cashback DECIMAL(10, 2)
        )
    ''')
    
    # Load data from CSV
    if is_combined:
        df = pd.read_csv('all_expenses.csv')
    else:
        df = pd.read_csv(f'expenses_{month}.csv')
    
    # Insert data into MySQL
    insert_query = f'''
        INSERT INTO {table_name} (Date, Category, Payment_Mode, Description, Amount_Paid, Cashback)
        VALUES (%s, %s, %s, %s, %s, %s)
    '''
    cursor.executemany(insert_query, df.values.tolist())
    mydb.commit()
    
    cursor.close()
    mydb.close()
    print(f"Data from {table_name} saved to MySQL database.")

# Load each month's CSV data into MySQL
for month in range(1, 13):
    save_csv_to_mysql(month)

# Load all_expenses.csv into MySQL
save_csv_to_mysql(month=None, is_combined=True)

Data from expenses_1 saved to MySQL database.
Data from expenses_2 saved to MySQL database.
Data from expenses_3 saved to MySQL database.
Data from expenses_4 saved to MySQL database.
Data from expenses_5 saved to MySQL database.
Data from expenses_6 saved to MySQL database.
Data from expenses_7 saved to MySQL database.
Data from expenses_8 saved to MySQL database.
Data from expenses_9 saved to MySQL database.
Data from expenses_10 saved to MySQL database.
Data from expenses_11 saved to MySQL database.
Data from expenses_12 saved to MySQL database.
Data from all_expenses saved to MySQL database.